.dashboard-container{
  background-color: rgb(246, 246, 246);
}

.sbar-container{
  border: 2px solid;
  width: 15%;
  height: 40rem;
  background-color: rgba(255, 204, 145, 0.352);


}

.main-content {
  flex-grow: 1;

}