<div class="container mt-3">
  <div class="gbuk">
      <h3> This pulse interview questions.</h3>
      <ol>
        <% if @questions.present? %>
          <% @questions.each do |question| %>
            <li><%= question.content %></li>
              <% question.answers.each do |answer| %>
              <h3> Your answer: </h3>
                <%= answer.content %>
                <h3>Your feedback: </h3>
                <%= answer.chat_review %>
                <% end %>
          <% end %>
        <% else %>
          <p>No questions available...</p>
        <% end %>
      </ol>
  </div>
</div>
