 <%= turbo_frame_tag "main_content" do %>
<div class="card-purple" data-controller="chart">  
   
<%= pie_chart current_user.average_evaluation_by_category, colors: ["#6A0AD6", "#A65EBA", "#D8BFD8"]  %>
</div>
  <% end %>