<div class="dashboard-container d-flex">
  <div class="sbar-container mt-5">
    <h4 class="ms-5 mb-3"> Overview </h4>
    <h4 class="ms-5"> Pulses </h4>
    <% @pulses.each do |pulse| %>
      <ul>
      <%= pulse.job_role %>
      </ul>
    <% end %>
    
  </div>




  <div class="main-content">
    <h1 class="text-center">Content</h1>
  </div>














</div>