<div class="dashboard-container d-flex">
    <div class="sbar-container mt-5">
      <h4 class="ms-5 mb-3 mt-4"> Overview </h4>
      <hr>
      <h4 class="ms-5"> Pulses </h4>
      <hr>
      <% @pulses.each do |pulse| %>
        <ul>
          <%= pulse.job_role, pulse_dashboard_path, data: {turbo_frame: "main_content"} %>
        <hr>
        </ul>
      <% end %>
      
    </div>





    <div class="main-content">
      <%= turbo_frame_tag "main_content" do %>
        <h1 class="text-center">Content</h1>
      <% end %>
    </div>













</div>