<div id="<%= dom_id(pulse) %>" class="pulse">
  <%= turbo_stream_from dom_id(pulse) %>
  <% if pulse.questions.any? && pulse.questions.all?(&:content?) %>
    <%= link_to 'Start', pulse_question_path(pulse, pulse.questions.first) %>
  <% else %>
    <p>Generating questions...</p>
  <% end %>
</div>
