<div id="result_<%= dom_id(pulse) %>" class="pulse">
  <%= turbo_stream_from "result_#{dom_id(pulse)}"%>
 <% if pulse.questions.all? { |question| question.answers.any? && question.answers.all?(&:chat_review?) } %>
   <%=link_to 'Review answers', question_answer_path(pulse.questions.first, pulse.questions.first.answers.last ), data: {turbo: false}, class: "btn-black" %>
   <div class="card-purple">

  </div>
  <% else %>
    <p>Generating results...</p>
  <% end %>
</div>

