.btn-blue{
  background-color:rgb(26, 145, 162);
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  &:hover{
    background-color:rgb(21, 114, 128);
  }
}

.btn-purple-gradient{
  border-radius: 16px;
  color: white;
  padding: 40px 32px;
  background-image: linear-gradient(to right, #A922B8 0%, #2F22A6  53%, #000000  100%);
  transition: 0.5s;
  background-size: 200% auto;
  margin-bottom: 52px;
  text-align: center;
  &:hover {
    background-position: right center;
  }

}

.btn-black{
  border-radius: 16px;
  color: white;
  padding: 16px 32px;
  background-color: #000000;
  box-shadow: 0px 4px 4px #A922B8 ;
}

 