.btn-blue{
  background-color:rgb(26, 145, 162);
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  &:hover{
    background-color:rgb(21, 114, 128);
  }
}

.btn-purple-gradient {
  border-radius: 4px;
  color: white;
  font-family: 'Nunito', sans-serif;
  padding: 20px 25px;
  background-image: linear-gradient(to right, #A922B8 0%, #2F22A6 53%, #000000 100%);
  transition: background-position 0.5s, box-shadow 0.5s; /* Smooth transition for background and shadow */
  background-size: 200% auto;
  margin-bottom: 52px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Soft shadow around the button */
}

.btn-purple-gradient:hover {
  background-position: right center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7); /* Slightly stronger shadow on hover */
}


.btn-black{
  border-radius: 6px;
  color: white;
  padding: 10px 22px;
  background-color: #000000;
  box-shadow: 0px 4px 4px #A922B8 ;
}

.new-pulse-link {
  color: white; /* Default text color */
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  transition: background-position 0.5s ease, color 0.5s ease;
  background-image: linear-gradient(to right, #FF4C8B 0%, #8A30E3 53%); /* Lighter default gradient */
  background-size: 100% auto; /* Ensures the background covers the text */
  background-clip: text;
  -webkit-background-clip: text;
}

.new-pulse-link:hover {
  background-image: linear-gradient(to right, #FF6F91 0%, #B3A4F4 53%); /* Lighter colors for hover */
  background-position: 100% center; /* Shift the gradient for the hover effect */
  color: transparent; /* Text color will be transparent to show the gradient */
  text-shadow: none; /* Clean appearance without a glow */
}
