
.fghy{
  background-color: #342D56 ;
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: column;
  visibility: visible;
  // align-items: center;
  border-radius: 1px;


  .form-control{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    height: 1rem;
    padding-left: 0px;
    &:focus, :active{

      box-shadow: none;
    }

    .vwew {
      position: relative;
      .arrow_up {
        position: absolute;
        right: 0;
      }

      .arrow_down {
        position: absolute;
        right: 0;
      }
    }

  }

  .timer{
    i{
      font-size: 24px;
    }
    position: absolute; /* Keep this if you have it */
    top: 20px; /* Adjust if needed */
    right: 20px; /* Adjust if needed */
    display: flex; /* Align icon and text */
    align-items: center; /* Center vertically */

  .time-display{
    font-size: 28px;
    // background-image: linear-gradient(to right, #A922B8 0%, #2F22A6  53%, #000000  100%);
    background-size: 200% auto;
    background-color: black;
    box-shadow: 0px 4px 4px #A922B8;
    border-radius: 4px;
    color: white;
    padding: 8px 16px;
  }
  }

}


@keyframes dropIn {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.drop-in {
  /* Ensure the element is positioned for animation */
  position: relative;
  animation: dropIn 0.5s ease-out forwards;
}


@keyframes slideOut {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

.slide-out {
  animation: slideOut 0.5s ease-in forwards;
}


@keyframes slideUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.slide-up {
  animation: slideUp 0.5s ease-in forwards;
}
