
<div class ="bjhy m-5">
  <h1>Select Categories</h1>
      <form action="/submit" method="POST">
          <ul class="category-list">
              <li>
                  <input type="checkbox" id="soft-skills" name="categories" value="Soft Skills">
                  <label for="soft-skills">Soft Skills</label>
              </li>
              <li>
                  <input type="checkbox" id="technical-skills" name="categories" value="Technical Skills">
                  <label for="technical-skills">Technical Skills</label>
              </li>
              <li>
                  <input type="checkbox" id="psychometric-skills" name="categories" value="Psychometric Skills">
                  <label for="psychometric-skills">Psychometric Skills</label>
              </li>
          </ul>
          <button type="submit">Submit</button>
      </form>
</div>
